.menu-mobile {
    width: 100%;
    background-color: #c00a27;
    z-index: 100;
}

.topbar-nav-mobile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.topbar-nav-mobile a {
    padding: 0.5rem;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: 'Geologica', sans-serif;
}

.topbar-nav-mobile a:hover,
.active {
    background: #00a149;
    border-radius: 50px;
}


.topbar-nav-mobile > a:last-child{
    margin-bottom: 1rem;
}