.title-carousel {
    position: absolute;
    font-size: 8rem;
    white-space: nowrap;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.carousel {
    position: relative;
    height: max-content;
}

.image-gallery-image {
    object-fit: cover !important;
    object-position: center;
    max-height: max-content !important;
}

@media screen and (max-width: 940px) {

    .image-gallery-image {
        object-fit: scale-down !important;
        object-position: top;
    }
}